<div class="sidebar">

  <div class="logo-brand">
    <div class="logo-circle">UB</div>
    <span class="logo-text">UB-Deporte</span>
  </div>

  <ul>

    <li>
      <a routerLink="/operator/home" routerLinkActive="active">
        Inicio
      </a>
    </li>

    <li>
      <a routerLink="/operator/maquinas" routerLinkActive="active">
        Máquinas
      </a>
    </li>

    <li>
      <a routerLink="/operator/perfil" routerLinkActive="active">
        Perfil
      </a>
    </li>

  </ul>

</div>
