<div class="sidebar">

  <h2>
    UB-Deporte
  </h2>

  <ul>

    <li>

      <a
        routerLink="/member/contenidos"
        routerLinkActive="active"
      >
        Contenidos
      </a>

    </li>

    <li>

      <a
        routerLink="/member/clases"
        routerLinkActive="active"
      >
        Clases
      </a>

    </li>

    <li>

      <a
        routerLink="/member/mis-entrenadores"
        routerLinkActive="active"
      >
        Mis Entrenadores
      </a>

    </li>

    <li>

      <a
        routerLink="/member/entrenadores"
        routerLinkActive="active"
      >
        Buscar Entrenadores
      </a>

    </li>

    <li>

      <a
        routerLink="/member/membresias"
        routerLinkActive="active"
      >
        Membresías
      </a>

    </li>

    <li>

      <a
        routerLink="/member/pagos"
        routerLinkActive="active"
      >
        Mis Pagos
      </a>

    </li>

    <li>

      <a
        routerLink="/member/perfil"
        routerLinkActive="active"
      >
        Mi Perfil
      </a>

    </li>

  </ul>

</div>
