<div class="sidebar">

  <div class="logo-brand">
    <div class="logo-circle">UB</div>
    <span class="logo-text">UB-Deporte</span>
  </div>

  <ul>

    <li>

      <a
        routerLink="/trainer/mis-alumnos"
        routerLinkActive="active"
      >
        Mis Miembros
      </a>

    </li>

    <li>

      <a
        routerLink="/trainer/planes"
        routerLinkActive="active"
      >
        Planes de Entrenamiento
      </a>

    </li>


    <li>

      <a
        routerLink="/trainer/clases"
        routerLinkActive="active"
      >
        Clases
      </a>


    <li>

      <a
        routerLink="/trainer/perfil"
        routerLinkActive="active"
      >
        Mi Perfil
      </a>

    </li>

  </ul>

</div>
