<div class="sidebar">

  <h2>UB-Deporte</h2>

  <ul>

    <li>
      <a
        routerLink="/admin/home"
        routerLinkActive="active"
      >
        Inicio
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/miembros"
        routerLinkActive="active"
      >
        Miembros
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/entrenadores"
        routerLinkActive="active"
      >
        Entrenadores
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/clases"
        routerLinkActive="active"
      >
        Clases
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/maquinas"
        routerLinkActive="active"
      >
        Máquinas
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/pagos"
        routerLinkActive="active"
      >
        Pagos
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/reportes"
        routerLinkActive="active"
      >
        Reportes
      </a>
    </li>

    <li>
      <a
        routerLink="/admin/contenidos"
        routerLinkActive="active"
      >
        Contenidos
      </a>
    </li>

  </ul>

</div>
